body {
    background: white;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0, 0, 0, .1);
    height: 80px;
    display: flex;
    flex-direction: row;
}

.logo {
    border: 1px solid black;
}

.menuBtn {
    background: var(--)
}